{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": ["flowtype", "unicorn", "tape"],
  "extends": [
    // "plugin:tape/recommended",
    "plugin:import/recommended",
    "plugin:flowtype/recommended",
    "plugin:unicorn/recommended",
    "airbnb-base",
    "standard",
    "standard-jsdoc"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      {
        // always-multiline helps with diffs
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline"
      }
    ],
    "unicorn/prefer-add-event-listener": "off", // we _want_ to have only one handler
    "tape/no-ignored-test-files": "off", // we have tests all over the code
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": false,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": false,
          "FunctionExpression": false
        }
      }
    ],
    "valid-jsdoc": [
      "warn",
      {
        "requireParamType": false,
        "requireReturn": false,
        "requireReturnType": false,
        "requireReturnDescription": false
      }
    ],
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off",
    "jsdoc/require-returns-description": "off",
    "no-use-before-define": "off", // we use types before defined
    "import/no-cycle": "off", // we cyclic-import types, and Flow detects cycles anyway
    "no-param-reassign": "off"
  }
}
