{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": ["flowtype", "unicorn", "ava"],
  "extends": [
    "plugin:ava/recommended",
    "plugin:import/recommended",
    "plugin:flowtype/recommended",
    "plugin:unicorn/recommended",
    "airbnb-base",
    "standard"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      {
        // always-multiline helps with diffs
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline"
      }
    ],
    "no-console": "off" // temporary, until implementing proper logger to console:
  }
}
