{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["unicorn", "ava"],
  "extends": [
    "airbnb-base",
    "standard",
    "plugin:unicorn/recommended",
    "plugin:import/recommended",
    "plugin:ava/recommended"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline"
      }
    ],
    "import/unambiguous": 0,
    "no-restricted-globals": "off",
    "no-console": "off"
  }
}
